body {
    font-family: Unbounded;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header{

}

.header-container {
    display: flex;

    align-items: center;
    padding: 10px;
    background-color: #100f0f;
    padding-left: 30px;
    padding-bottom: 20px;
}

.logo {
height: 50px;
}

.contact-info {
    display: flex;
    padding-top: 20px;
    justify-content: left;
    margin-left: 400px;
}





nav ul {
    width: 600px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    font-family: Unbounded;
    font-size: 15px;

    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cfo-section {
    background: url('images/bg.png')   ;
    background-size: cover;
    height: 970px;
    width: auto;
    display: flex;

    background-color: #fff;
    align-items: center;
    color: #fff;

}

.cfo-section .content {
    font-family: Unbounded;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border-radius: 10px;
    padding-left: 400px;

}
.cfo-section .content h1{

    color: #fff;
    font-size: 50px;
}
.cfo-section .content p{
    font-family: Unbounded;
    color: #fff;
    font-size: 20px;
}

.highlight {
    color: #32CD32;
}
.politika{
    color: #32CD32;
    text-decoration: underline;
}

.solution-btn {
    font-family: Inter;
    padding: 20px 70px;
    background: linear-gradient(to right, #32cd32, #1e90ff);
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.credit-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #fff;
}
.form-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group label{
    width: 100%;
}
.form-group select{
    width: calc( 100% );
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.form-group input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: #49ff96;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
input[type="range"]:hover {
    opacity: 1;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00e861;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00df5e;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00c853;
    cursor: pointer;
    transition: background 0.3s;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.partners-container p {
    padding-top: 10px;
    font-size: 15px;
}
.partners img{
    width: 120px;
    height: 40px;
    margin: 10px;
}

.partners-container{
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    width: 450px;
    text-align: center;
}

.username {
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Inter;
    text-decoration: none;
}
.dashboard-btn{

}
.contact-info button{
    background-color: rgb(204, 204, 204, 0);
    border: none;
}
.dashboard-btn-img{
    padding-left: 10px;
    width: 40px;
    height: 30px;
}
.logout-btn-img{
 padding-right: 10px;
    width: 40px;
    height: 30px;

}
.logout-btn{
 margin-left: 15px;
}
.dashboard-btn-img:hover{

}
.reg-btn {
    font-family: Inter;
    margin-left: 50px;
    font-size: 15px;
    padding: 15px 15px;
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.log-btn{

    text-decoration: none;
    font-size: 15px;
    font-family: Inter;
    margin-left: 10px;
    padding: 15px 15px;
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.log-btn a{
    color: rgba(0, 179, 74, 0);
}
.social-web{
    padding-top: 0px;
    margin-left: 30px;
}
.social-web img{
    margin-left: 5px;

}

.vkontakte{

    text-decoration: none;
    width: 40px;
    height: 40px;
}
.telegram{
    text-decoration: none;
    width: 33px;
    height: 33px;
}

.vkontakte:hover{

}
.partner-btn{
    font-family: Inter;
    background: linear-gradient(to right, #32cd32, #1e90ff);
    margin-top: 20px;
    padding: 15px 70px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.advantages {
    display: flex;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container{
    width: auto;
}
.advantages h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.advantage-items {

    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

.advantage-item {
    display: flex;
    background-color: #f9f9f9;
    width: 347px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
    transition: transform 0.3s, box-shadow 0.3s;
}
.advantage-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.advantage-item-text{
    height: 140px;

    padding-left: 20px;
}
.advantage-item img {
    padding-top: 20px;
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 10px;
}
.advantage-item h3{
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    text-transform: uppercase;
}
.advantage-item p {
    width: 250px;
    font-size: 14px;
    color: #666;
}
.steps {
    background: #fff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 80px;
}

.steps h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #333;
}

.step-items {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.step-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

    flex-basis: calc(30% - 20px);

}
.partner-green{

}



.step-item img {
    max-width: 80px;
    margin-bottom: 20px;
}

.step-text {

}

.step-text h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #32cd32;
}

.step-text p {
    display: flex;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.reg-btn:hover {
    background-color: #44ff44;

}
.log-btn:hover {
    background-color: #44ff44;

}
.solution-btn:hover {
    background: linear-gradient(to right, #00c800, #0081ff);
}
.partner-btn:hover {
    background: linear-gradient(to right, #00c800, #0081ff);
}
nav ul li a:hover{
    color: #cccccc;
}
.social-web img:hover{
}

.consultation-form input {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.social-media a:hover {
    color: #00c853;
}
.consultation {
    background-image: url("images/women.png");
    height: 500px;
    background-repeat: no-repeat;
    padding: 60px 20px;
}

.consultation h2 {
    margin-left: 85px;
    color: #ffff;
    font-size: 24px;
    margin-bottom: 10px;
}
.consultation p{
    max-width: 500px;
    margin-left: 85px;
    font-size: 14px;
    color: #cdcdcd;
}
.consultation form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;

}

.consultation input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.consultation button {
    background: linear-gradient(to right, #32cd32, #1e90ff);
    padding: 15px 82px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.consultation button:hover {
    background: linear-gradient(to right, #00c800, #0081ff);
}
.consultation-content{
    margin-left: 200px;
}

footer {
    background-color: #000000;
    color: white;
    padding: 40px ;
    text-align: center;
}


.footer-contact h2{
    color: #ffffff;
    padding-left: 100px  ;
}
.footer-contact p {
    margin-bottom: 10px;
    font-size: 16px;
}
.footer-contact img{
    padding-right: 180px;
    height: 15px;
}
.footer-contact p a {
    color: #00c853;
    text-decoration: none;
    transition: color 0.3s;
}
.linkin{
    text-decoration: underline;
}
.footer-contact p a:hover {
    color: #00b34a;
}
.finaly-footer{
    text-align: left;
}
.finaly-footer p{
    color: #373737;
}
.footer-text{
    display: flex;
    margin-right: 100px;
}
.logo-footer{
    width: 200px;
    height: 100px;
}
.footer-text img{

    padding-top: 30px;
}
.footer-text p{
    padding-top: 10px;
    padding-left: 100px;
    text-align: left;
    max-width: 900px;
    font-size: 15px;
}

.footer-logo{
    height: 100px;
}

